:root {
    --thumb: #4982b8;
    --track: #1e1e24;
    --border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--track);
}
::-webkit-scrollbar-thumb {
    background: var(--thumb);
    border-radius: var(--border-radius);
}

/*
example to override: 
body.side-navbar {
    --thumb: color; 
    --track: color;
}
*/