
.docTextHeader 
{
  text-transform: uppercase;
  letter-spacing: .5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  text-align: center; /* Center the text */
  padding: 1.5em 0em;
  position: relative;
  left: 0; 
  right: 0; 
  width: 100%;
  overflow: visible;
  margin-top: -30px;
}
.docTextHeader p
{
    overflow: visible;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: "Young Serif", sans-serif;
    text-shadow: 10px 10px 10px rgba(0,0,0,.5);
    -webkit-text-stroke: 0px rgb(0, 0, 0);
}
.docTextHeader p span 
{
  text-align: center;
  font: 700 3em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  
  
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(../Images/graphics/Scrollers/scroll1blue.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
@-webkit-keyframes aitf 
{
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/* Animate Background Image */
@keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}
@media only screen and (max-width: 1100px) 
{
    .docTextHeader p span 
    {
        font: 700 2em/1 "Oswald", sans-serif;
        letter-spacing: 0;
    }
    .docTextHeader p
    {
        font-size: 16px;
    }
}
.docTextHeader p span#red
{
    background: url(../Images/graphics/Scrollers/scroll1red.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
}
.docTextHeader p span#green
{
    background: url(../Images/graphics/Scrollers/scroll1green.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
}
.docTextHeader p span#orange
{
    background: url(../Images/graphics/Scrollers/scroll1orange.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
}

.docSection
{
    display: grid;
    place-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #080a0e;
}
.docSection h1
{
    font-family: "Raleway", sans-serif;
    letter-spacing: 5px;
    font-size: 32px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.docSection h1#one
{
    margin: 30px;
    margin-bottom: 0px;
    color: rgb(0, 119, 255);
}
.docSection h1 span
{
    overflow: visible;
    font-size: 48px;
    font-weight: 600;
    text-shadow: 0px 0px 50px rgba(0, 51, 255, 0.758);
    
}
.docSection p
{
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin: 30px;

}
.docSection a
{
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    color: #fc6464;
    font-weight: 400;
}

.docInnerSection
{
    display: grid;
    padding: 20px;
    width: 85%;
    padding-top: 50px;
    padding-bottom: 50px;
    place-items: center;
    background-color: #070707;

}

.docInnerSection h1
{
    font-family: "Raleway", sans-serif;
    letter-spacing: 5px;
    font-size: 32px;
    text-align: center;
    color: rgb(0, 123, 255);
    margin: 30px;
}
.docInnerSection p
{
    margin: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
}
.docInnerSection img
{
    width: 40vw;
    border-radius: 5px;
    border-color: rgb(0, 136, 255);
    border-style: solid;
    border-width: 2px;
    box-shadow: 0px 0px 10px rgb(0, 68, 255);
}
.docInnerInnerSection
{
    display: grid;
    padding: 20px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    place-items: center;
    background-color: #040710;
    border-style: solid;
    border-color: rgb(0, 238, 255);
    border-width: 2px;
    box-shadow: 0px 0px 5px #0095ff;
}

.docInnerInnerSection h1
{
    font-family: "Raleway", sans-serif;
    letter-spacing: 5px;
    font-size: 32px;
    text-align: center;
    color: rgb(0, 123, 255);
    margin: 10px;
    margin-bottom: 0px;
}
.docInnerInnerSection p span#style1
{
    font-weight: 550;
    color: rgb(236, 78, 78);
}
.docInnerInnerSection p span#style2
{
    font-weight: 550;
    color: rgb(78, 217, 236);
}
.docInnerInnerSection p span#warning
{
    font-weight: 550;
    color: rgb(243, 145, 103);
    text-shadow: 0 0 40px rgb(255, 85, 0);
    animation-name: warningAnimator;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes warningAnimator 
{
    0%{color: rgb(243, 145, 103);}
    25%{color: rgb(255, 51, 51);}
    50%{color: rgb(243, 145, 103);}
}
.docSection p#style1
{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 400px;
}