/* WAVES: https://app.haikei.app */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root {
    --color-blue: #1e3d67;
    --color-grey: #202731;
}

body {
    margin: 0;
    color: white;
    background: black;
    font-size: 28px;
}

section {
    margin: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50px;
    padding: 0px 20vw;
}

.spacer {
    margin: 0;
    /* Fix line tearing with negative 1 pixel for mobile phones*/
    margin-top: -1px;
    margin-bottom: -1px;
    padding: 0;
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1-top {
    background-image: url('wave1Top.svg');
}
.layer1-bottom {
    background-image: url('wave1Bottom.svg');
}

.blue {
    background: var(--color-blue);
}

.grey {
    background: var(--color-grey);
}

section h1 {
    font-size: 5vw;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 600;
}

section p {
    font-size: 2vw;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 200;
}

/*Media Query for tablets and mobile devices*/
@media (max-width: 968px) {
    section p {
        font-size: 4vw;
    }
}

/* Media Query for very small mobile devices */
/* @media (max-width: 588px) {
    section h1 {
        font-size: 5vw;
        font-weight: 600;
    }
    
    section p {
        font-size: 32px;
        font-weight: 200;
    }
} 