footer
{
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: 500;
}
footer p
{
    font-family: "Konkhmer Sleokchher", serif;
    color: white;
    margin-bottom: auto;
    margin-top: auto;
}