.iconRow 
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
    padding-top: 0px;

    margin: auto;
    width: 50%;
}
.iconColumn 
{
    margin: 40px;
    padding: 5px;
    font-size: 30px;
}
.iconList
{
    scale: 1.5;
    transition: scale .2s;
}

.iconList:hover
{
    scale: 2;
    filter: drop-shadow(0px 0px 15px rgb(255, 0, 38));
}