@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
    --thumb: #ff4747;
    font-size: 25px;
    -webkit-tap-highlight-color: transparent;
}
.navbar {
    --icon-primary: #7ebaff;
    --icon-secondary: #4979df;
}

p a.link {
    color: rgb(255, 155, 73);
    text-decoration: none;
    background-color: #16192b;
    display: inline-block;
    border-radius: 25px;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
    transition: .5s;
}

p a.link:hover {
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
    border-radius: 0px;
    background-color: #2c0606;
}
p a.link:active {
    border-radius: 10px;
    background-color: #1a8f9e;
}

p span#one {
    color: rgb(255, 104, 104);
}
h4 span#one{
    color: rgb(255, 104, 104);
}
p span#two {
    color: rgb(106, 255, 114);
}
h4 span#two{
    color: rgb(106, 255, 114);
}
p span#three {
    color: wheat;
}
h4 span#three{
    color: wheat;
}
p span.quote {
    color: rgb(85, 162, 192);
    font-style: italic;
    font-weight: 300;
}
p span.mini-bold {
    font-weight: 400;
}
p span.bold {
    font-weight: 800;
    text-transform: uppercase;
}


.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.center-box a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    position: relative;
}

/* Tooltip styling */
.center-box a::after {
    display: none;
    content: attr(tooltip); /* Tooltip text */
    position: absolute;
    bottom: 110%; /* Position the tooltip above the link */
    left: 50%;
    transform: translateX(-50%);
    background-color: #0a1630;
    border: black solid 2px;
    border-radius: 10px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity 0.5s;
    word-wrap: break-word;
    z-index: 1; /* Ensures tooltip is on top of other elements */
}

.center-box a:hover::after {
    opacity: 1;
    visibility: visible;
    display:inline;
    overflow: hidden;
}


.center-box img {
    object-fit: contain; /*keep apsect ratio*/
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    transition: .2s;
}
.center-box p {
    
}
.center-box a:hover img {
    object-fit: contain; /*keep apsect ratio*/
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
    transform: rotate(15deg);
}

.events {
    display: flex;
    flex-direction: column; /* Stack events vertically */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.events .event {
    width: 100%; /* Make each event take the full width of the container */
    max-width: 80vw; /* Limit the width of each event to 600px */
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 20px; /* Space between each event */
    font-family: "Oswald", sans-serif;
}

.events .event .date {
    box-shadow: 0px 0px 20px 5px rgb(0, 4, 66);
    height: 100%;
    background-color: #185169;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    letter-spacing: 1.5px;
    z-index: 1;
}

.events .event .date#upcoming {
    background-color: #319bc5;
}
.events .event .section#upcoming {
    
}

.events .event .date h2 {
    margin: 0; 
    line-height: 1.2; 
    padding: 2px 0;
    font-size: 3vw;
}

.events .event .section {
    box-shadow: 0px 0px 20px 5px rgb(0, 4, 66);
    background-color: rgb(44, 50, 78);
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: 1.5px;
    text-size-adjust: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.events .event .section h4 {
    padding-top: 10px;
    margin: 0;
    text-transform: uppercase;
    font-style: italic;
    flex-shrink: 0;
    font-size: 2vw;
}
.events .event .section p {
    overflow-y: auto;
    padding-bottom: 10px;
    margin: 0;
    flex-grow: 1;
    align-items: stretch;
    text-align: left;
    font-size: 1.5vw;
}

.events .event .date, .events .event .section {
    border: none; /* Ensures no border between date and section */
}



/*Large Screen*/
@media only screen and (min-width: 1200px) {
    .center-box img {
        width: 125px;
        height: 125px;
        border-radius: 35px;
    }
    
    .events .event .section {
        width: 75%;
    }
    .events .event .date {
        width: 300px;
    }
    .events .event .section h4 {
        font-size: 2vw;
    }
    .events .event .section p {
        font-size: 2vw;
    }

    .events .event .date h2 {
        font-size: 4vw;
    }
}

/*Medium Screen*/
@media only screen and (max-width: 1200px) {
    .center-box img {
        width: 100px;
        height: 100px;
        border-radius: 25px;
    }
    .events .event .section {
        width: 75%;
    }
    .events .event .date {
        width: 200px;
    }
    .events .event .section h4 {
        font-size: 3vw;
    }
    .events .event .section p {
        font-size: 3vw;
    }

    .events .event .date h2 {
        font-size: 6vw;
    }
}

/*Small Screen*/
@media only screen and (max-width: 700px) {
    .center-box img {
        width: 50px;
        height: 50px;
        border-radius: 15px;
    }
    .events .event .section {
        width: 75%;
    }
    .events .event .date {
        width: 100px;
    }
    .events .event .section h4 {
        font-size: 4vw;
    }
    .events .event .section p {
        font-size: 3vw;
    }

    .events .event .date h2 {
        font-size: 6vw;
    }
}